<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <!-- Latest compiled and minified CSS -->
     <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     
     <!-- Latest compiled and minified JavaScript -->
     
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     
    <title>Document</title>
</head>
<body background="plr3.jpg" >
    
        <nav class="navbar navbar-inverse bg-primary">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                   
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li ><a href="/">Home </a></li>
                      <li><a href="/Calculation">Calculation</a></li>
                      <li><a href="/Contact">Contact</a></li>
                      <li><a href="/guestbook">GuestBook</a></li>
                      
                    </ul>
                    
                    
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
              <header class="section-header"><h2>Calculation</h2></header>

<form class="form-inline">
       <div class="container">

              <!-- Example row of columns -->
              
                          <label>Enter the number of matches</label>
                          <input type="text" id="matches" class="form-control">
                          
                         
                </div>
                <!--<div class="col-md-4 col-md-2"></div>
                <div class="col-md-4 col-md-2"></div>-->
        <div class="container">
          
                 <label>Enter the number of matches you won</label>
                <input type="text" class="form-control"  id="won">
                </div>
                <div class="container">
               <!-- <button type="submit" class="btn btn-default" onclick="conversion1()">Calculate</button>-->
               <button type="submit" class="btn btn-default" onclick="matcheslost()">Calculate</button>
            
        </div>
      
        
      </form>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      
      <footer id="a2">S531378@NWMISSOURI.EDU
            <a href="https://www.facebook.com/lokeswari.pittu" class="fa fa-facebook"></a>
            <a href="https://twitter.com/lokeswari_pittu" class="fa fa-twitter"></a>
            <a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>
            
            <a href="https://bitbucket.org/LOKESWARIPITTU" class="fa fa-bitbucket"></a>
            <a href="https://github.com/LOKESWARIPITTU" class="fa fa-github"></a>
    </footer>
   
    <script src="calculate.js"></script>  
  </body>
    </html>