<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body background="plr2.jpg" alt ="xx">
          
    <nav class="navbar navbar-inverse bg-primary">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                      <li><a href="/Calculation">Calculation</a></li>
                      <li><a href="/Contact">Contact</a></li>
                      <li><a href="/guestbook">GuestBook</a></li>
                      
                    </ul>
                    
                    
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
              <header class="section-header"><h1>Contact</h1></header>  
<form class="form-inline">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control">
        </div>
        <div>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer id="a2">S531378@NWMISSOURI.EDU
            <a href="https://www.facebook.com/lokeswari.pittu" class="fa fa-facebook"></a>
            <a href="https://twitter.com/lokeswari_pittu" class="fa fa-twitter"></a>
            <a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>
            
            <a href="https://bitbucket.org/LOKESWARIPITTU/" class="fa fa-bitbucket"></a>
            <a href="https://github.com/LOKESWARIPITTU" class="fa fa-github"></a>
    </footer>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </html>