<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link href = "/guestbook.css" type="text/css" rel="stylesheet">
</head>
<body class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                  <li><a href="/Calculation">Calculation</a></li>
                  <li><a href="/Contact">Contact</a></li>
                  <li><a href="/guestbook">GuestBook</a></li>
                  
                </ul>
                
                
                  </li>
                </ul>
              </div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>

