<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lokeswari</title>
<link rel="stylesheet" type="text/css" href="LokeswariPittu.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href = "#"><h4>Lokeswari Pittu</h4></a></li>
                      <li><a href="/">About</a></li>
                      <li><a href="/Calculation">Calculation</a></li>
                      <li><a href="/Contact">Contact</a></li>
                      <li><a href="/guestbook">GuestBook</a></li>
                      
                    </ul>
                    
                    
                      
                    
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>


<!--<header id="al">Lokeswari Pittu</header>-->
<article id="ch">
<img src ="plr.jpg" alt ="vvv">
<section>
<header class="section-header">Current</header>
<p>I am newly admitted in Spring 2018 batch for Masters in Applied Computer Science.</p>
</section>
<section id="past-section">
<header class="section-header">Background</header>
<p>I am from Guntur, India. I have completed my Bachelor’s Degree at Acharya Nagarjuna University in Electronics and Communication Engineering with 91%.</p>
<p>I was facilitated with Prathiba Award for my excellence in academics in 2017.</p>
<p>I have done my Internship on HTML, CSS, PHP, and Basics of ANDROID.</p>
</section>
<section id="future-section">
<header class="section-header">Plans</header>
<p> I want to be an Information Security Analyst.</p>
</section>
<aside>
<section>
<header class="aside-header">Other</header>
<p>My technical interests are  Programming and Network Security.</p>
<p>My hobbies are watching cricket, listening to music.</p>

</section>
</aside>
</article>
<footer id="a2">S531378@NWMISSOURI.EDU
        
</footer>



</body>
</html>